<div class="article-full--container">
    <h1 class="article-full--title">{{ article.title }}</h1>
    <p class="article-full--content">{{ article.content }}</p>

    <div class="article-full--comments-container">
        <h2 class="article-full--comments-title">Commentaires</h2>
        <div class="article-full--comment-wrapper" *ngFor="let comment of article.comments">
            <span class="article-full--comment-user">{{comment.username}}</span>
            <p class="article-full--comment-content">{{comment.content}}</p>
        </div>
    </div>

    <a routerLink="/articles" class="btn btn-dark">Retour à la liste des articles</a>
</div>